/* Home.css */

.custom-button {
    background-color: #A3E4D8; /* Color de fondo del botón */
    color: black; /* Color del texto del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    border: solid black 2px; /* Sin borde */
    border-radius: 10px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar por encima del botón */
    width:150px;
    height: 50px;
    font-size: 20px;
  }
  
  .custom-button:hover {
    background-color: #85c7b6; /* Cambiar el color de fondo al pasar por encima del botón */
  }
  