.client-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.client-box {
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  background-color: #A3E4D8;
}

h2 {
  text-align: center;
  color: #333;
}

.client-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  border: 1px solid black;
}

.client-table td {
  padding: 15px;
  border-bottom: 1px solid black;
}

.client-table .label {
  font-weight: bold;
  color: #555;
}

.client-table tbody tr:last-child td {
  border-bottom: none;
}

.client-table td:nth-child(odd) {
  background-color: #D0F2EB;
}

.client-table td:nth-child(even) {
  background-color: #BFE8DC;
}
