.App {
  text-align: center;
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root{
  background-color:#A3E4D8 !important;
  color: black !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
select{
  --select-border: #777!important;
  --select-focus: blue!important;
  --select-arrow: var(--select-border) !important;
  box-sizing: border-box !important;
  appearance: none !important;
  background-color: transparent !important;
  border: 1px !important;
  padding: 0 1em 0 0 !important;
  margin: 0 !important;
  width: 25% !important;
  font-family: inherit !important;
  font-size: inherit !important;
  cursor: inherit !important;
  line-height: inherit !important;
  z-index: 1!important;
  min-width: 15ch !important;
  max-width: 30ch !important;

  border: 1px solid var(--select-border) !important;
  border-radius: 0.25em !important;
  padding: 0.25em 0.5em !important;

  font-size: 1.25rem !important;
  cursor: pointer !important;
  line-height: 1.1 !important;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
